* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	/* overflow-y: visible; */
	/* background: #222222; */
	background: #ece8e5; /*best background color */
	/* background: #6D5594; */
	/* background-image: url("bg.png"); */
	/* background-image: url("bg1.png"); */
	font-size: 100%;
	font-size: calc(0.8vh + 0.8vw);

	margin: 0;
	padding: 0;
	letter-spacing: 0.04em;
	overflow-x: hidden;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	scroll-behavior: smooth !important;
}

.main-bg {
	background: url("./main-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	background-position: center;
	/* border-bottom: 0.1em solid black; */
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	overflow: hidden;
}
.nav-top {
	height: 2em;
	width: 100%;
	top: 0%;
	position: relative;
}
.nav-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
	width: 100%;
}
.portfolio-icon {
	background: #f26c4f;
	width: 4.2em;
	height: 100%;
	margin: 0.1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.portfolio-icon-font {
	padding-left: 0.4em;
	padding-right: 0.4em;

	color: white;
	font-weight: bolder;
	font-size: 1.3rem;
	font-family: "Trebuchet MS", sans-serif;
}
.nav-links {
	min-height: 50%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: black;
	font-family: Verdana, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	margin-right: 6.5em;
}
.nav-links a,
.portfolio-icon a {
	color: black;
	text-decoration: none;
}

.nav-links a:hover {
	color: white;
}
.nav-experience,
.nav-about,
.nav-work {
	margin: 0em;
	padding: 0.8em;
	margin-right: 0.5em;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}
.nav-contact {
	padding: 0.8em;
	margin-right: 0.2em;
	transition: all 0.2s ease-in-out;
}
.nav-about:hover,
.nav-experience:hover,
.nav-work:hover,
.nav-contact:hover {
	background-color: #f16f55;
	transform: scale(1.1);
}
.nav-about:hover a,
.nav-experience:hover a,
.nav-work:hover a,
.nav-contact:hover a {
	color: black;
	font-weight: 400;
}
.home {
	position: relative;
	width: 100%;
	height: auto;
	display: grid;
	/* flex-direction: row; */
	/* align-items: center; */
	margin-top: 3rem;
	/* margin-left: 1em; */
	/* justify-content: flex-end; */
	/* flex-wrap: wrap; */
	/* margin-right: 2em; */
	/* overflow-y: visible; */
	grid-template-columns: [main-col1-start] 60% [main-col2-start] 40%;
	grid-template-rows: [main-row1-start] auto [main-row1-start];
}
.name {
	grid-column: main-col1-start;
	grid-row: main-row1-start;
	color: black;
	font-size: 5.5vmax;
	font-weight: bold;
	/* margin-left: 0em; */
	font-family: "Brush Script MT", cursive;
	/* margin-top: 2em; */
	/* margin-left: -10em; */
	/* margin-right: 0.5em; */
	/* padding-left: auto; */
	text-align: right;
	position: relative;
	top: 1vmin;
	right: 0.5em;
	/* bottom: 90%; */
	/* -ms-transform: translateY(-50%); */
	/* transform: translateY(-50%); */
	/* vertical-align: bottom; */
}

.name p {
	margin: 0%;
	margin-left: 3.2em;
}
.name-intro {
	font-size: 2vmax;
	color: #606349;
}
.dp {
	/* margin: auto; */
	/* margin-right: 1em; */
	/* position: relative; */
	margin-left: 2em;
	margin-top: -3rem;
	grid-column: main-col2-start;
	grid-row: main-row1-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
}
.dp img {
	/* height: fit-content; */
	width: 15vmax;
	height: 100%;
	/* max-width: 400px; */
	height: auto;
}

.about-me-short {
	/* position: relative; */
	/* margin-left: 2em; */
	/* text-align: center; */
	/* margin-top: 30%; */
	height: fit-content;
	/* margin-bottom: 50%; */
	font-size: x-small;
	/* margin-right: 1em; */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-weight: 500;
	width: 25%;
	margin-top: 10vmin;
	margin-bottom: 25vmax;
	/* margin-right: 0.5em; */
	/* margin-left: -10vmax; */
	/* padding-right: 1em; */
}
.designation {
	color: #527b4d;
	display: flex;
	/* width: fit-content; */
	margin-bottom: 1em;
	flex-direction: row;
	/* justify-content: left; */
}
.designation span {
	position: relative;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: medium;
	font-weight: 530;
	/* margin-left: -0.5em; */
}
.designation hr {
	position: relative;
	min-width: 10vw;
	/* width: 4em; */
	height: 0.2em;
	margin-left: 0.5rem;
	margin-right: 1em;
	/* padding-right: 1em; */
	/* margin-right: 4em; */
	border: 0;
	background-color: rgb(248, 91, 0);
}
.about-me-short-content {
	color: #da9978;
	/* margin-top: 0em; */
	/* margin-right: 1rem; */
	width: 100%;
	/* margin-left: 1em; */
	font-size: 0.98rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.about-me {
	width: 100%;
	overflow: visible;
	/* background-color: #1f1f1f; */
	display: flex;
	flex-direction: column;
	text-align: left;
}
.about-me-div {
	margin-left: 2em;
	margin-top: 2em;
	font-size: 0.8rem;
	margin-right: 1em;
}
.about-me-line {
	color: rgba(241, 106, 28, 0.932);
	display: flex;
	flex-direction: row;
	justify-content: start;
	width: 100%;
	margin-bottom: 1em;
	margin-left: 3em;
}
.about-me-line span {
	/* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
	font-family: "Brush Script MT", cursive;
	font-size: medium;
	/* width: 20%; */
	/* margin-right: 1em; */
}
.about-me-line hr {
	width: 20%;
	height: 0.2em;
	margin-left: 1rem;
	margin-right: 2em;
	border: 0;
	background-color: rgba(241, 106, 28, 0.932);
}
.content {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: rgba(255, 255, 255, 0.89);
	font-size: 0.94rem;
	margin-bottom: 2rem;
	border-radius: 1.2em 4em;
	padding: 1.5em;
	/* background: #252a46; */
	background: rgb(33, 33, 75);
	color: white;
	margin-left: 3em;
	margin-right: 3em;
}

.about-me-heading {
	text-align: center;
	font-weight: bold;
	font-size: large;
	color: #fec576;
}
/* .about-me-heading2 {
	text-align: center;
	font-weight: bold;
	font-size: large;
	color: black;
} */
.content1 {
	background: #313552;
	color: white;
}
/* .content2 {
	background-color: orangered;
	color: white;
} */

.personal-interest {
	background-color: white;
	color: rgb(184, 74, 184);
}
.recently-working {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	/* color: rgba(255, 255, 255, 0.89); */
	font-size: 0.85rem;
	line-height: 1.4;
}
.gg-shape-rhombus {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: rotate(45deg) scale(var(--ggs, 1));
	width: 0.8em;
	height: 0.8em;
	border: 0.25em solid;
	margin-top: 0.3em;
	margin-right: 1em;
}
.recently-working ul {
	text-decoration: none;
	list-style: none;
}
.recently-working ul li {
	display: flex;
	flex-direction: row;
}
#experience {
	padding-top: 2em;
	overflow: visible;
	width: 100%;
	/* display: flex; */
	/* flex-direction: column; */
	/* align-items: center; */
	position: relative;
	/* margin-left: 1.5rem; */
	margin-right: 2em;
}
.experience-content {
	margin-left: 1.5rem;
}
.experience-tag {
	position: relative;
	/* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
	font-family: "Brush Script MT", cursive;
	color: rgba(241, 106, 28, 0.932);
	display: flex;
	width: 100%;
	height: auto;
	font-size: medium;
	margin-left: 3em;
	/* margin-top: 1em; */
}
/* .experience-tag span {
	width: 15%;
} */
.experience-tag hr {
	width: 20%;
	height: 0.23em;
	margin-left: 0.8rem;
	margin-right: 4em;
	border: 0;
	background-color: rgba(241, 106, 28, 0.932);
}

/* Timeline */
@import url("https://fonts.googleapis.com/css?family=Niramit:300,300i,700");
/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
/* body { */
/* font-family: "K2D", sans-serif; */
/* background: #1e1e2f; */
/* } */
.container {
	width: 90%;
	margin: 1em;
	margin-top: 3em;
	margin-left: 3em;
	/* margin-right: 10em; */
	/* margin: 50px auto; */
}
.container p {
	font-weight: 350;
	line-height: 1.5;
	/* font-size: 0.85em; */
	opacity: 0.8;
}
.timeline {
	position: relative;
	padding-left: 4rem;
	margin: 0 0 0 30px;
	color: white;
	margin-right: 2em;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.timeline:before {
	content: "";
	position: absolute;
	left: 0;
	top: -2em;
	/* margin-left: 2.2em; */
	width: 4px;
	height: 100%;
	background: #e54929;
}
.timeline .timeline-container {
	position: relative;
	margin-bottom: 2.5rem;
}
.timeline .timeline-container .timeline-icon {
	position: absolute;
	left: -1.38em;
	top: 0.1em;
	width: 0.8em;
	height: 0.8em;
	border-radius: 50%;
	text-align: center;
	font-size: 4em;
	background: black;
}
.timeline .timeline-container .timeline-icon i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.timeline .timeline-container .timeline-icon img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.timeline .timeline-container .timeline-body {
	background: #161827;
	border-radius: 3px;
	padding: 20px 20px 15px;
	box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);
}
.timeline .timeline-container .timeline-body ul {
	list-style: none;
	padding-left: 1em;
	margin-top: 1.5em;
	font-size: medium;
}
.timeline .timeline-container .timeline-body li {
	padding-left: 1em;
	text-indent: -1em;
}
.timeline .timeline-container .timeline-body li:before {
	content: ">>";
	letter-spacing: -1em;
	padding-right: 1em;
}

.timeline .timeline-container .timeline-body:before {
	content: "";
	background: inherit;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	left: -10px;
	transform: rotate(45deg);
	border-radius: 0 0 0 2px;
}
.timeline .timeline-container .timeline-body .timeline-title {
	margin-top: 0em;
	margin-bottom: 0em;
	color: white;
	position: relative;
}
.timeline .timeline-container .timeline-body .timeline-title div {
	width: fit-content;
	margin-bottom: 1.5em;
}
.timeline .timeline-container .timeline-body .timeline-title span {
	color: #161827;
	margin-left: 1em;
	width: fit-content;
	display: block;
}
.timeline .timeline-container .timeline-body .timeline-title .badge {
	background: #393c5e;
	padding: 4px 8px;
	border-radius: 3px;
	font-size: small;
	font-weight: bold;
}
.timeline .timeline-container .timeline-body .timeline-subtitle {
	font-weight: 400;
	font-style: italic;
	/* opacity: 0.4; */
	margin-top: 16px;
	font-size: x-small;
	color: #fec576;
}
.timeline .timeline-container .badge {
	background: #e75231 !important;
}

.timeline .timeline-container .timeline-icon {
	background: rgb(214, 44, 44) !important;
}
.author {
	font-family: inherit;
	padding: 3em;
	text-align: center;
	width: 100%;
	color: white;
}
.author a:link,
.author a:visited {
	color: white;
}
.author a:link:hover,
.author a:visited:hover {
	text-decoration: none;
}
.author .btn:link,
.author .btn:visited {
	margin-top: 1em;
	text-decoration: none;
	display: inline-block;
	font-family: inherit;
	font-weight: 100;
	color: white;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: black;
	padding: 1.5em 2rem;
	border-radius: 1em;
	transition: 0.5s all;
}
.author .btn:link:hover,
.author .btn:visited:hover,
.author .btn:link:focus,
.author .btn:visited:focus,
.author .btn:link:active,
.author .btn:visited:active {
	background-color: #1a1a1a;
}

.timeline-icon i {
	font-size: 40%;
}
#project {
	margin-left: 2em;
	margin-right: 2em;
	padding-top: 2em;
}
.projectGrid {
	margin-top: 4em;
	display: block;
	/* width: 100%; */
	/* grid-gap: 4em; */
	margin-bottom: 4em;
	/* margin-left: -1em; */
	/* margin-right: -1em; */
	/* grid-template-columns: [col1-start] 25% [col2-start] 25% [col3-start] 25% [col4-start] 25%; */
	/* grid-template-columns: [col1-start] 30% [col2-start] 30%; */
	/* grid-template-rows: [row1-start] max-content [row1-end]; */
	/* grid-template-rows: [row1-start] max-content [row2-start] max-content [row2-end]; */
	/* background-color: #fff; */
	color: #444;
	font-family: "Montserrat", sans-serif;
	justify-content: center;
	align-items: center;
}
[class*="project-"] {
	/* background: #527b4d; */
	text-align: center;
	display: grid;
	grid-gap: 0.5em;
	grid-template-columns: [col1-start] 32% [col2-start] 60%;
	grid-template-rows: [row1-start] max-content [row2-ends];
	transition: all 0.2s ease-in-out;
	/* border: 2px outset hsl(0, 25%, 69%); */
	border-radius: 0.2em;
	/* background: #dfdad6; */
	padding: 1em;
	margin-left: 2em;
	margin-bottom: 0.75em;
}

[class*="project-"] img {
	/* background: #527b4d; */
	grid-column: col1-start;
	grid-row: row1-start;
	border: 10px white;
	border-style: outset;
	height: auto;
	width: 100%;
	margin-right: 0.5em;
	margin-top: auto;
	margin-bottom: auto;
}
[class*="project-"] img:hover {
	transform: scale(1.1);
}

.project-details {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	/* justify-content: center; */
}

[class*="project-"] .project-details h2 {
	flex: 1;
	/* font-family: "Montserrat", sans-serif; */
	color: #527b4d;
	text-align: right;
	padding-top: -2em;
	/* font-weight: bolder; */
	/* margin-top: -0.2em; */
	margin-bottom: 1em;
	/* text-decoration: underline; */
}

.project-description {
	flex: 2;
	display: block;
	font-size: medium;
	text-align: left;
	margin-left: -2em;
	/* margin-top: 2em; */
	background: #dfdad6;
	/* align-items: center; */
}

.project-details a {
	text-orientation: none;
	color: black;
}

.project-description a {
	text-decoration: underline;
}

.project-details .button1 {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #527b4d;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: #527b4d;
	text-align: center;
	transition: all 0.2s;
}
.project-details .button1:hover {
	color: #000000;
	background-color: #799e75;
}
@media all and (max-width: 30em) {
	.project-details .button1 {
		display: block;
		margin: 0.4em auto;
	}
}

/* .project-1 {
	grid-column: col1-start;
	grid-row: row1-start;
}

.project-2 {
	grid-column: col2-start;
	grid-row: row1-start;
}

.project-3 {
	grid-column: col1-start;
	grid-row: row2-start;
}

.project-4 {
	grid-column: col2-start;
	grid-row: row2-start;
} */
/* [class*="project-"]:hover {
	transform: scale(1.2);
} */

/* Importing the Roboto font from Google Fonts. */
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

/* Set font of all elements to 'Roboto' */

/* Remove outline of all elements on focus */
*:focus {
	outline: 0;
	font-size: medium;
}

/* Add styles to 'container' class */
.contact {
	text-align: left;
	padding: 12px 24px 24px 24px;
	/* margin: 48px auto; */
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	width: 65%;
	/* background: #e3f2fd; */
	border-radius: 4px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: medium;
}
.contact-head {
	text-align: center;
	margin-bottom: 2em;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.contact label {
	margin-left: 1vw;
}
/* Add styles to 'label' selector */

/* Add styles to 'input' and 'textarea' selectors */
input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

/* Add styles to show 'focus' of selector */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid green;
}

/* Add styles to the submit button */
input[type="submit"] {
	/* background: #64b5f6; */
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Add styles for 'focus' property */
input[type="submit"]:focus {
	background: #a5d6a7;
	color: whitesmoke;
}

/* Style 'hover' property */
input[type="submit"]:hover {
	background: #2196f3;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: center;
}

.leftCont,
.iconsCont {
	/* display: -webkit-flex; */
	display: flex;
	/* -webkit-flex-direction: column; */
	flex-direction: column;
	/* -webkit-align-items: center; */
	align-items: center;
}
.leftCont {
	height: 45vh;
	width: 4rem;
	position: fixed;
	bottom: 0;
}

.iconsCont {
	/* display: grid */
	height: 40vh;
	width: 100%;
	/* -webkit-justify-content: space-around; */
	justify-content: space-around;
	/* position: fixed; */
}
.icons a {
	/* color: #000000; */
	width: 100%;
	height: auto;
}
.icons {
	font-size: 1.5em;
	color: black;
}
.icons:hover {
	color: #e54929;
}
.line {
	background-color: #e75231;
	height: 8rem;
	width: 2px;
}

@media screen and (min-width: 700px) {
	.content:nth-child(2n + 1) {
		margin: 2em auto 3em 2em;
		width: 50%;
	}
	.content:nth-child(2n) {
		margin: 2em 2em 3em auto;
		width: 50%;
	}
}
